* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

a, a:hover {
    text-decoration: none;
}

.container-nav {
    background-color: #38AF90;
    height: 90px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-main h1 {
    color: #fff;
    font-size: 18px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile img{
    width: 62px;
}

#news {
    margin: 0 10px;
}

#news h2 {
    color: #797979;
    text-align: center;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 8px;
}

.card-news {
    max-width: 960px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.card-news h3 {
    color: #38AF90;
    font-size: 16px;
    margin: 0;
    padding: 16px 12px 3px 12px;
}

.sub-title-news p {
    font-size: 12px;
    font-weight: bold;
    color: #797979;
    margin: 0;
    padding: 0 12px 7px 12px;
}

.border-news {
    border-bottom: 1px solid #38AF90;
    padding: 0;
    margin: 0 10px;
}

.date-news p{
    color: #38AF90;
    font-size: 10px;
    margin: 0;
    padding: 2px 12px 12px 12px;

}

.container-news p {
    font-size: 10px;
    color: #797979;
    margin: 0;
    padding: 12px 12px 0 12px;
}

.read-more {
    padding: 12px;
}

.read-more a {
    font-size: 14px;
    font-weight: bold;
    color: #DD7E92;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.button input{
    width: 244px;
    height: 67px;
    background-color: #DD7E92;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#games {
    background-color: #f0f0f0;
    height: 1176px;
}

#games h1 {
    text-align: center;
    color: #38AF90;
    margin: 0;
    padding-top: 40px;
}

.card-games {
    width: 300px;
    height: 326px;
    max-width: 960px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin: 28px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card-games img {
    width: 300px;
    justify-content: center;
    border-radius: 8px 8px 0 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container h3 {
    color: #797979;
    font-size: 18px;
    text-align: center;
    margin: 28px 0 0 0;
}

.card-container p1 {
    font-size: 12px;
    color: #797979;
}

.card-container span {
    color: #38AF90;
    font-size: 14px;
    font-weight: bold;
}

.card-container p2 {
    color: #38AF90;
    font-size: 36px;
    font-weight: bold;
    padding: 15px 0;
}

#singup h2 {
    color: #797979;
    text-align: center;
    margin: 40px 0 16px 0;
}

.form-container {
    max-width: 960px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin: 28px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.name-form {
    margin: 52px 12px 20px 12px;
    
}